{% extends 'layout.html' %}
{% load static %}
{% block title %}About - SALPAY{% endblock %}
{% block content %}
<div class="sub_header_in sticky_header">
    <div class="container text-center">
        <h1>About SALPAY</h1>
    </div>
    <!-- /container -->
</div>
<div class="container">
    <div class="main_title_2 my-4">
        <span><em></em></span>
        <h2>Why SALPAY</h2>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <a class="box_feat" href="#0">
                <i class="pe-7s-medal"></i>
                <h3>+ 1000 Students</h3>
                <p>Deals with the management of fees of the students regarding registrations for the re-registered subjects and registering for the new semester and their annual/annual fee payment from anywhere.</p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a class="box_feat" href="#0">
                <i class="pe-7s-credit"></i>
                <h3>Secure Payments</h3>
                <p>Designed to ensure that contractors and sub-contractors are paid even in case of dispute. This can involve a system of progress payments or a system which legally requires a company to pay an invoice within a set number of days</p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a class="box_feat" href="#0">
                <i class="pe-7s-help2"></i>
                <h3>HR Support</h3>
                <p>Institute aims to be a leading institute with significant international impact and strong local commitment. As a leading Technical institute in India it contributes to economic and social development of nation.</p>
            </a>
        </div>
    </div>
    <!-- /container -->
    <div class="bg_color_1">
        <div class="container margin_80_55">
            <div class="main_title_2">
                <span><em></em></span>
                <h2>Our Vision and Mission</h2>
                <p></p>
            </div>
            <div class="container justify-content-between">
                <div>
                    <p align="justify"> This idea deals with the management of fees of the students regarding registrations for the re-registered subjects and registering for the new semester and their annual/annual fee payment from anywhere.This is useful for the students who stay at very long distances from the college.The students who reach late to collage because of unfavorable conditions and travel schedules have to stand in a queue long meant for registrations for long time missing their classes deadline and penalty that students have to pay for being late.</p>
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/container-->
    </div>
    <!--/bg_color_1-->
</div>
{% endblock %}