{% extends 'layout.html' %}
{% load static %}
{% block title %} SALPAY {% endblock %}
{% block content %}
<main>
    <section class="hero_single version_5">
        <div class="wrapper">
            <div class="container">
                <div class="row justify-content-center pt-lg-5">
                    <div class="col-xl-5 col-lg-6">
                        <h3>SAL PAY</h3>
                        <p>Now SAL allows you to pay fees at home!</p>
                        <p>Deals with the management of fees of the
                            students regarding registrations for the
                            re-registered subjects and registering
                            for
                            the new semester and their annual/ annual
                            fee payment from anywhere.</p>
                        <div class="custom-search-input-2">
                            <div class="form-group">
                            </div>
                        </div>
                        </form>
                    </div>
                    <div class="col-xl-6">
                        <img src="{% static 'img/graphic_home_21.svg' %}" alt="" class="img-fluid" width="400px">
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- /hero_single -->
    <div class="bg_color_1">
        <div class="container margin_80_55">
            <div class="main_title_2">
                <span><em></em></span>
                <h2>Departments</h2>
                <p>create facilities and undertake research and studies in the field of engineering and other related education fields.</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <a href="http://www.sal.edu.in/sce/ce/sce_ce.html" class="grid_item">
                        <figure>
                            <img src="{% static 'img/6/comp.jfif' %}" alt="" width="340">
                            <div class="info">
                                <h3>Computer engineering</h3>
                            </div>
                        </figure>
                    </a>
                </div>
                <!-- /grid_item -->
                <div class="col-lg-4 col-sm-6">
                    <a href="http://www.sal.edu.in/sce/it/sce_it.html" class="grid_item">
                        <figure>
                            <img src="{% static 'img/6/it.jfif' %}" alt="" width="340">
                            <div class="info">
                                <h3>Information Technology</h3>
                            </div>
                        </figure>
                    </a>
                </div>
                <!-- /grid_item -->
                <div class="col-lg-4 col-sm-6">
                    <a href="http://www.sal.edu.in/sce/mechanical/sce_mech.html" class="grid_item">
                        <figure>
                            <img src="{% static 'img/6/mech.jfif' %}" alt="" width="340">
                            <div class="info">
                                <h3>Mechanical engineering</h3>
                            </div>
                        </figure>
                    </a>
                </div>
                <!-- /grid_item -->
                <div class="col-lg-4 col-sm-6">
                    <a href="http://www.sal.edu.in/sce/chemical/sce_chemical.html" class="grid_item">
                        <figure>
                            <img src="{% static 'img/6/chem.jpg' %}" alt="" width="340">
                            <div class="info">
                                <h3>Chemical engineering</h3>
                            </div>
                        </figure>
                    </a>
                </div>
                <!-- /grid_item -->
                <div class="col-lg-4 col-sm-6">
                    <a href="http://www.sal.edu.in/sce/civil/sce_civil.html" class="grid_item">
                        <figure>
                            <img src="{% static 'img/6/civil.jfif' %}" alt="" width="340">
                            <div class="info">
                                <h3>Civil engineering</h3>
                            </div>
                        </figure>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://www.sal.edu.in/sce/ec/sce_ec.html" class="grid_item">
                        <figure>
                            <img src="{% static 'img/6/eec.jfif' %}" alt="" width="340">
                            <div class="info">
                                <h3>Electronics and Communication</h3>
                            </div>
                        </figure>
                    </a>
                </div>
                <!-- /grid_item -->
                <!-- /grid_item -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bg_color_1 -->
    <div class="container-fluid margin_80_55">
        <div class="main_title_2">
            <span><em></em></span>
            <h2>About College</h2>
        </div>
        <div id="reccomended" class="owl-carousel owl-theme">
            <div class="item">
                <div class="strip grid">
                    <figure>
                        <a href="http://www.sal.edu.in/sce/ce/sce_ce_home.html" class="wish_bt"></a>
                        <a href="http://www.sal.edu.in/sce/ce/sce_ce_home.html"><img src="{% static 'img/college.png' %}" class="img-fluid" alt="" width="400" height="266">
                            <div class="read_more"><span>Read more</span></div>
                        </a>
                        <small>SAL College</small>
                    </figure>
                    <div class="wrapper">
                        <h3><a href="http://www.sal.edu.in/sce/ce/sce_ce_home.html">SAL college of engineering</a></h3>
                        <p>Environment is known to play a vital roll in the output an performance of an individual in general and students and particular.</p>
                        <a class="address" href="https://www.google.com/maps/dir//Assistance+–+Hôpitaux+De+Paris,+3+Avenue+Victoria,+75004+Paris,+Francia/@48.8606548,2.3348734,14z/data=!4m15!1m6!3m5!1s0x47e66e1de36f4147:0xb6615b4092e0351f!2sAssistance+Publique+-+Hôpitaux+de+Paris+(AP-HP)+-+Siège!8m2!3d48.8568376!4d2.3504305!4m7!1m0!1m5!1m1!1s0x47e67031f8c20147:0xa6a9af76b1e2d899!2m2!1d2.3504327!2d48.8568361">Get directions</a>
                    </div>
                    <ul>
                        <li><span class="loc_open">Now Open</span></li>
                        <li>
                            <div class="score"><span>Superb<em>350 Reviews</em></span><strong>8.9</strong></div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /item -->
            <div class="item">
                <div class="strip grid">
                    <figure>
                        <a href="http://www.sal.edu.in/campus_tour.html" class="wish_bt"></a>
                        <a href="http://www.sal.edu.in/campus_tour.html"><img src="{% static 'img/4.png' %}" class="img-fluid" alt="" width="400" height="266">
                            <div class="read_more"><span>Read more</span></div>
                        </a>
                        <small>Campus</small>
                    </figure>
                    <div class="wrapper">
                        <h3><a href="http://www.sal.edu.in/campus_tour.html">SAL Campus</a></h3>
                        <p>The Sal Campus is situated in lush green environment, bringing freshness to the young minds and encourages them to invest their energy to come out with innovations and creations.</p>
                    </div>
                    <ul>
                        <li><span class="loc_closed">Now open</span></li>
                        <li>
                            <div class="score"><span>Very Good<em>450 Reviews</em></span><strong>8.0</strong></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <div class="strip grid">
                    <figure>
                        <a href="http://www.sal.edu.in/program_cource.html" class="wish_bt"></a>
                        <a href="http://www.sal.edu.in/program_cource.html"><img src="{% static 'img/abc.jpg' %}" class="img-fluid" alt="" width="400" height="266">
                            <div class="read_more"><span>Read more</span></div>
                        </a>
                        <small>Program and courses</small>
                    </figure>
                    <div class="wrapper">
                        <h3><a href="http://www.sal.edu.in/program_cource.html">Program and courses</a></h3>
                        <p>The college has fully equipped Laboratories in each department to develop practical skill of the students. </p>
                    </div>
                    <ul>
                        <li><span class="loc_open">Now Open</span></li>
                        <li>
                            <div class="score"><span>Good<em>350 Reviews</em></span><strong>7.0</strong></div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /item -->
            <div class="item">
                <div class="strip grid">
                    <figure>
                        <a href="http://www.sal.edu.in/workshop_seminar.html" class="wish_bt"></a>
                        <a href="http://www.sal.edu.in/workshop_seminar.html"><img src="{% static 'img/6.jpg' %}" class="img-fluid" alt="" width="400" height="266">
                            <div class="read_more"><span>Read more</span></div>
                        </a>
                        <small>Workshop and seminar</small>
                    </figure>
                    <div class="wrapper">
                        <h3><a href="http://www.sal.edu.in/workshop_seminar.html">Workshop and seminar</a></h3>
                        <p>To improve and exchange the knowledge in the field by holding seminars and general awareness programs and make efforts for technical cooperation between similar research institutions.</p>
                    </div>
                    <ul>
                        <li><span class="loc_closed">Now Closed</span></li>
                        <li>
                            <div class="score"><span>Superb<em>350 Reviews</em></span><strong>9.0</strong></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->
    <div class="call_section image_bg">
        <div class="wrapper">
            <div class="container margin_80_55">
                <div class="main_title_2">
                    <span><em></em></span>
                    <h2>Get in touch</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="box_how">
                            <i class="pe-7s-search"></i>
                            <h3>Mail</h3>
                            <p>Get in touch,<br>Say Hello.<br>hr@sal.edu.in</p>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box_how">
                            <i class="pe-7s-info"></i>
                            <h3>Contact Info</h3>
                            <p>Business Phone<br>079 - 6521 3534</p>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box_how">
                            <i class="pe-7s-like2"></i>
                            <h3>Visit us at</h3>
                            <p>Opp, Science city, <br>Sola Bhadaj Road,<br>Ahmedabad. Gujarat 380060</p>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
        </div>
        <!-- /wrapper -->
    </div>
    <!--/call_section-->
</main>
<!-- /main -->
{% endblock %}